   <div class="container">
    <div class="left-section">
      <h2>Upload CSV</h2>
      <input type="file" (change)="onFileChange($event)" />
      <button (click)="uploadFile()" [disabled]="!file">Upload File</button>
      <div class="file-info" *ngIf="fileData">
        <h3>Selected File</h3>
        <p>{{ fileData.name }}</p>
      </div>
    </div>
    <div class="right-section">
        <div class="chat-section">
            <h3>Chat with our AI</h3>
            <div class="chat-container">
              <div class="chat-message" *ngFor="let message of chatMessages">
                <div class="message-content" [class.user-message]="message.isUser" [class.bot-message]="!message.isUser">
                  {{ message.text }}
                </div>
              </div>
            </div>
            <div class="chat-input">
              <input [(ngModel)]="chatQuery" placeholder="Type your query here" />
              <button (click)="onChatSubmit()">Send</button>
            </div>
          </div>
      <div class="result-section">
        <h3>Query Results</h3>
        <div *ngIf="queryResult">{{ queryResult }}</div>
        <div *ngIf="isResultTable">
          <table *ngIf="data.length" border="1">
            <thead>
              <tr>
                <th *ngFor="let header of headers">{{ header }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of data">
                <td *ngFor="let header of headers">{{ row[header] }}</td>
              </tr>
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
  </div>